@charset "UTF-8";
*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.caixa{
    text-align: center;
    background-color: gray;
    color: black;
    width: 550px;
    height: 160px;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-top: 50px;
}
h1{
    background-color: gray;
    width: 250px;
}